.ss-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.ss-body {
    position: relative;
    padding-bottom: 50px;
}

.ss-grid {
    margin: 70px 0px 0px 0px;
    font-size: calc(0.3vw + 0.9em);
    line-height: 35px;
    display: flex;
    flex-flow: row wrap;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

.ss-image {
    height: 9vh;
    width: auto;
    max-height: 100px;
    object-fit: cover;
}

.ss-image:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}


.tooltip {
    display: none;
    position: absolute;
    color: black;
    background-color: rgba(163, 163, 163, 0.4);
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
    opacity: 0;
}

.ss-title {
    font-size: 35px;
    align-text: center;
    justify-content: center;
    display: flex;
}

.ss-item:hover .tooltip {
    transition: max-height 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
    display: block;
    opacity: 1;
}

.tooltip-text {
    padding: 5px;
    border-radius: 3px;
}

.tooltip-text h3 {
    margin-top: 0;
    font-size: calc(0.3vw + 0.9em);
    font-weight: normal;
}

.tooltip-text p {
    margin-bottom: 0;
    font-size: calc(0.3vw + 0.9em);
    color: #666;
}

.ss-item {
    position: relative;
    display: inline-block;
    transition: transform 0.2s;
}

.ss-item.is-hovered {
    transform: scale(1.2);
}
