.education-body{
    min-height: 60vh;
    background-image:url("../../../assets/images/cvpagepic2.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    color: white;
}

.education-blackbackground{
    background-color: rgba(58, 58, 58, 0.802);
    width:100%;
    min-height:60vh;
}

/* Education section title */
.education-title {
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}

/* Education section */
.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.education-item {
    width: calc(50% - 10px);
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .education-container {
        flex-direction: column;
    }

    .education-item {
        width: 100%;
    }
}

/* Awards section */
.awards-container {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.award-item {
    width: calc(50% - 10px);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .awards-container {
        flex-direction: column;
    }

    .award-item {
        width: 100%;
    }
}

.program-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.program-description,
.university-name,
.program-dates,
.awards {
    font-size: 16px;
    margin-bottom: 10px;
}

.awards {
    font-weight: bold;
}

/* Awards section */
.awards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.award-item {
    width: calc(50% - 10px);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .awards-container {
        flex-direction: column;
    }

    .award-item {
        width: 100%;
    }
}

/* Common styles for Awards sections */
.awards-item {

    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-bottom: 20px;
}

.awards-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.awards-description {
    font-size: 16px;
    margin-bottom: 10px;
}
