/* Personal skills container */
.personal-skills {
    list-style: none;
    margin: 130px 0px 0px 0px;
    padding: 0;
}

/* Personal skill item */
.personal-skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Personal skill icon */
.personal-skill-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff; /* Change this to the desired color */
    font-size: 13px; /* Change this to the desired font size */
    margin-right: 20px;
}

/* Personal skill name */
.personal-skill-name {
    font-size: 14px;
    /*font-weight: 700;*/
}
