.skills-section {
    background-color: rgb(234, 221, 212);
    padding: 30px;
    text-align: center;
}

.skills-title {
    line-height: 1.5;
    text-align: left;
    max-width: 550px;
    margin: 100px auto 30px auto;
    font-size: 35px;
}

.skills-list {
    font-size: calc(0.3vw + 0.9vw);
    line-height: 1.5;
    text-align: left;
    max-width: 550px;
    margin: 0 auto;
}

.skills-list li {
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .skills-list {
        font-size: calc(0.3vw + 0.9vw);
    }
}

@media only screen and (min-width: 1024px) {
    .skills-list {
        font-size: calc(0.3vw + 0.9vw);
    }
}
