.experience-body{
    margin-top: 130px;
    height: 50vh;
    /*background-color: rgb(234, 223, 215);*/
    /*background-color: rgb(218, 179, 173);*/
    /*background-color: rgb(214, 217, 218);*/
    /*background-color: rgb(109, 128, 151);*/
    /*background-color: rgb(187, 190, 197);*/


    /*background-color: rgb(188, 199, 211);*/
    /*background-color: rgb(201, 209, 212);*/
    /*background-color: rgb(214, 217, 218);*/
    /*background-color: rgb(152, 151, 149);*/
    background-color: rgb(112, 113, 118);
}

.experience-blackbackground{
    background-color: rgba(58, 58, 58, 0.802);
    width:100%;
    height:60vh;
}

.experience-grid{
    margin-left: 380px;
    font-size: calc(0.3vw + 0.9em);
    line-height: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    word-wrap: break-word;
    gap: 40px 30px;
}

.experience-image{
    width: auto;
    height: 150px;
    object-fit: cover;
}

.experience{
    text-align: right;
    margin-top: 130px;
}

.experience-item{
    width: 60%;
    text-align: left;
}
