.header-body {
    background-color: rgb(89, 89, 89);
}

.header-style{
    height:40vh;
    background-color: rgb(253, 255, 233);
    background-image: url("../../../assets/images/cvpagepic1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}

.header-photo {
    height: 240px;
    background-image: url('../../../assets/images/cvpagepic0.PNG');
    width: 240px;
    position:relative;
    top: 45%;
    left: 100px;
    z-index: 999;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.header-description {
    position: absolute;
    top: 25%;
    left: 350px;
    font-size: min(calc(26px + 1vw), 50px);
    font-weight: bold;
}

.header-name {
    position: absolute;
    top: 32%;
    left: 350px;
    font-size: min(calc(22px + 1vw), 40px);
    padding-top: min(calc(14px + 2vw),15px);
}

@media only screen and (max-width: 750px) {
    .header-style {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
    }

    .header-photo {
        position:static;
        margin: 20px;
    }

    .header-description,
    .header-name {
        position: static;
        text-align: center;
    }
}


@media only screen and (min-width: 1300px) {
  .header-style {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
  }

  .header-photo {
    position:static;
    margin: 20px;
  }

  .header-description,
  .header-name {
    position: static;
    text-align: center;
  }
}
