.aboutme-container{
    background-color: rgba(128, 128, 128, 0.374);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
    padding-bottom: 50px;
    margin-bottom: 8px;
    align-items: center; /* vertically center content */
    justify-content: center;
}

.aboutme-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px; /* remove top margin */
    display: flex;
    justify-content: center;
}

.aboutme-description{
    text-align: justify;
    font-size: calc(0.3vw + 0.9em);
    overflow: auto;
    margin: 0; /* remove top margin */
    max-width: 1920px;
}
