.aboutme-container{
    background-color: rgba(128, 128, 128, 0.374);
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
}

.aboutme-title{
    position: relative;
    top: 150px;
    font-size: 35px;
    font-weight: bold;
}

.aboutme-description{
    position: relative;
    top: 160px;
    text-align: justify;
    font-size: calc(0.3vw + 0.9em);
    block-size: fit-content
}
