.container {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 100px;
    text-align: left;
}

.experience-item {
    width: 60%;
    text-align: left;
}

.experience-item__title {
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-item__dates {
    font-size: calc(0.3vw + 0.9vw);
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-item__description {
    font-size: calc(0.3vw + 0.9vw);
    margin-bottom: 30px;
}

.experience-section {
    background-color: rgb(231, 231, 231);
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.experience-title {
    line-height: 1.5;
    text-align: left;
    max-width: 550px;
    margin-top: 100px;
    font-size: calc(0.3vw + 0.9vw);
}

.experience-list {
    font-size: calc(0.3vw + 0.9vw);
    line-height: 1.5;
    text-align: left;
    max-width: 550px;
    margin: 0 auto;
}

.experience-list li {
    margin-bottom: 10px;
}

/*@media only screen and (min-width: 768px) {*/
/*    .experience-list {*/
/*        font-size: calc(0.3vw + 0.9vw);*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1024px) {*/
/*    .experience-list {*/
/*        font-size: calc(0.3vw + 0.9vw);*/
/*    }*/
/*}*/
