.container {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 100px;
    text-align: left;
}

.experience-item {
    text-align: left;
}

.experience-item__title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: calc(0.3vw + 0.9em);
}

.experience-item__dates {
    font-size: calc(0.3vw + 0.9em);
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-item__description {
    font-size: calc(0.3vw + 0.9em);
    margin-bottom: 30px;
    text-align: justify;
}

.experience-section {
    background-color: rgb(236, 225, 218);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.experience-title {
    line-height: 1.5;
    text-align: left;
    margin-top: 100px;
    font-size: 35px;
}

.experience-list {
    font-size: calc(0.3vw + 0.9em);
    line-height: 1.5;
    text-align: left;
    margin: 0 auto;
}

.experience-list li {
    margin-bottom: 10px;
}
