.experience-container {
    display: flex;
    justify-content: center;
    background-color: #EFEAE5;
}

h2 {
    text-align: left;
}

.experience-item {
    text-align: left;
}

.experience-item__title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: calc(0.2vw + 0.9em);
    display: flex;
}

.experience-item__dates {
    font-size: calc(0.2vw + 0.8em);
    font-weight: bold;
}

.experience-item__description {
    font-size: calc(0.2vw + 0.8em);
    margin-bottom: 30px;
    text-align: justify;
}

.experience-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1940px;
    margin-bottom: 30px;
}

.experience-title {
    line-height: 1.5;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.experience-list {
    font-size: calc(0.2vw + 0.8em);
    line-height: 1.5;
    text-align: left;
}
